
body{
    font-family: "Times New Roman", Times, serif;
}

#header{
    text-align:center;
}

h1 {
    margin: 0;
    line-height: 1;
}

p {
    margin: 0; 
    line-height: 1.2; 
}
a {
    text-decoration: none; 
    color: inherit;
}

#Education {
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #Education {
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .education-container {
    margin-top: 10px;
  }
  
  .education-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
  }
  
  .education-header p {
    margin: 0; 
  }
  
  .date {
    text-align: right;
  }
  
  .karachi {
    text-align: right;
    font-style: italic;
    margin: 0; 
  }
  
  #relevant-coursework{
    border-bottom: 1px solid black;
  }
  table {
    width: 100%; /* Optional: Makes the table stretch across */
    border-collapse: collapse; /* Ensures there are no gaps between table cells */
  }
  
  td {
    padding-left: 10px; /* Adds space inside each table cell */
    vertical-align: top; /* Aligns list items to the top of the cell */
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure the body and html are full-width */
    box-sizing: border-box;
}

.full-width {
    width: 100%; /* Full page width */
    margin: 0;
    padding: 0;
    display: block;
}

.full-width p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height */
}
#Technical-Skills{
    border-bottom: 1px solid black;
}